.container{
    width: 60vw;
    height: 75vh;
    border-radius: 10px;
    box-shadow: -6px 12px 19px 1px rgba(0,0,0,0.17);
    -webkit-box-shadow: -6px 12px 19px 1px rgba(0,0,0,0.17);
    -moz-box-shadow: -6px 12px 19px 1px rgba(0,0,0,0.17);
    background-color: white;
}

.TopBar{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.btn{
    color: white;
    font-size: large;
    padding: 5px 20px 5px 20px;
    border: none;
    background-color: #0F9A00;
    box-shadow: -2px 11px 18px 0px rgba(0,0,0,0.27);
    -webkit-box-shadow: -2px 11px 18px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: -2px 11px 18px 0px rgba(0,0,0,0.27);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: #1bd006;
}

@media screen and (max-width: 500px){
    .container{
        width: 95vw;
        height: 100vh;
    }
}